body {
	display: grid;
	grid-template-columns: 20% 75%;
	column-gap: 10px;
	justify-content: center;
}

#lienzo{
	background-color: #baffc9;
	text-align: center;
	padding-bottom: 20px;
}

#botones {
	background-color: #ffdfba;
	text-align: center;
	padding-bottom: 20px;
}

button {
	width: 100px;
	padding: 20px;
	margin: 5px;
	background-color: #ffffba;
	border-radius: 10px;
}


